* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none; /* 리스트 점 없애기 */
  text-decoration: none; /* 바로가기 링크 색 없애기 */
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

h1 {
  font-size: 48px;
  font-weight: 100;
}

.contents1 {
  font-size: 20px;
  font-weight: lighter;
}

.contents1_bold {
  font-size: 18px;
  font-weight: bold;
}

.contents2 {
  /* font-size: */
}

.contents3_ {
  font-size: 14px;
  font-weight: 100;
}
/* --- */

.result {
  font-size: 24px;
}

.intro_bg {
  background-image: url("image/intro.png");
  width: 100%;
  height: 718px;
}

.header {
  display: flex;
  width: 1280px;
  margin: auto;
  height: 86px;
}

.searchArea {
  width: 300px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 24px;
}

.searchArea > form > input {
  border: none;
  width: 250px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  padding-left: 10px;
}

.searchArea > form > span {
  width: 50px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
  line-height: 86px;
  width: calc(1280px - 300px);
  color: white;
}

.nav > li {
  margin-left: 84px;
}

.nav > li > a {
  color: white;
}

.amount {
  position: relative;
  top: -66px;
  width: 1280px;
  display: flex;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.amount > li {
  /* background: skyblue; */
  flex: 1;
  height: 132px;
}

.amount > li > div {
  text-align: center;
  /* background: green; */
  margin-top: 37px;
  height: 57px;
}

.amount > li:not(:last-child) > div {
  border-right: 1px solid #e1e1e1;
}

.amount > li .nav > li > a {
  margin-left: 84px;
  color: #fff;
}

.intro_text {
  width: 100%;
  text-align: center;
  margin: 231px auto 231px auto; /*상 우 하 좌*/
}
.intro_text > h1,
.intro_text > h4 {
  color: #fff;
}

/* main_text0 */

.main_text0 {
  width: 100%;
  height: 601px;
  margin-top: -132px;
  background: #f1f2f3;
}

.main_text0 > h1 {
  padding-top: 116px;
  text-align: center;
}

.main_text0 > .contents1 {
  text-align: center;
}

.icons {
  display: flex;
  width: 1280px;
  height: 302px;
  margin: auto;
}

.icons > li {
  flex: 1;
  background: white;
  margin-top: 49px;
  height: 302px;
  text-align: center;
}

.icons > li .icon_img {
  margin-top: 18px;
}

.icons > li > .button_more {
}

.icons > li:not(:last-child) {
  margin-right: 20px;
}

.icons .contents3 {
  width: 180px;
  margin: auto;
  letter-spacing: -2px;
}

.more {
  width: 100px;
  height: 30px;
  background: blue;
  color: #fff;
  font-size: 12px;
  margin: 25px auto;
  line-height: 30px;
}

/* main_text1 */

.main_text1 {
  width: 100%;
  height: 659px;
}

.main_text1 > h1 {
  padding-top: 50px;
  text-align: center;
}

.main_text1 > .contents1 {
  text-align: center;
}

.service {
  width: 1280px;
  display: flex;
  margin: 49px auto;
  height: 427px;
}

.service > .contents2 {
  padding: 20px;
}

.service > .contents2 > h2 {
  margin-bottom: 27px;
}

/*maint_text2 */
.main_text2 {
  width: 100%;
  height: 418px;
  background-image: url("image/contact.png");
}

.main_text2 > ul {
  display: flex;
  padding-top: 138px;
}

.main_text2 > ul > li {
  flex: 1;
  text-align: center;
}

.main_text2 > ul > li > div > h1,
.main_text2 > ul > li > div {
  color: #fff;
}

.more2 {
  width: 220px;
  height: 40px;
  border: 1px solid white;
  line-height: 40px;
  margin: 16px auto;
  cursor: pointer;
}

footer {
  display: flex;
  background: #1f1f1f;
  padding: 30px;
}

footer > div:first-child {
  text-align: center;
  color: #fff;
  flex: 3;
}

footer > div:last-child {
  color: white;
  flex: 9;
}
